<table align="center" width="80%" cellpadding="10">
  <tr>
    <td align="center">
      <b><font size="5">UNIVERSITY OF ENGINEERING AND TECHNOLOGY PESHAWAR</font></b><br>
      <b><font size="4">Jalozai Campus</font></b>
      <hr width="70%">
      <table align="center" width="70%">
        <tr><td><b>Course:</b></td><td>Introduction to AI Programming</td></tr>
        <tr><td><b>Lab No:</b></td><td>06</td></tr>
        <tr><td><b>Lab Title:</b></td><td>List And Tuple</td></tr>
        <tr><td><b>Instructor:</b></td><td>Irshad Ullah</td></tr>
        <tr><td><b>Student:</b></td><td>Syed Abdur Rahman</td></tr>
      </table>
      <b><font size="5"> Lab Work Tasks</font></b><br>
    </td>
  </tr>
</table>

## **AIM**
The aim of this lab is to practice Python list and tuple operations for data management and manipulation. Students will learn to use lists for mutable sequences, tuples for immutable sequences, nested structures, indexing, slicing, list methods, operators, comprehensions, and tuple unpacking. The lab emphasizes real-world applications such as student records, inventory systems, and configuration data handling, demonstrating the advantages of mutability, immutability, and flexible data structures in programming.

---

# Task 1: Inventory System

**Q1:** Add two new products at the end

In [1]:
products = ["pencil", "notebook", "eraser", "marker"]
products.append("pen")
products.append("highlighter")
print(products)

['pencil', 'notebook', 'eraser', 'marker', 'pen', 'highlighter']

**Q2:** Insert a product at position 2

In [2]:
products.insert(2, "sharpener")
print(products)

['pencil', 'notebook', 'sharpener', 'eraser', 'marker', 'pen', 'highlighter']

**Q3:** Explain why a list is appropriate here

> Lists are mutable, allowing easy addition, removal, or modification of items.

---------

# Task 2: Data Slicing & Indexing

**Q1:** Access the first, last, and second-to-last items

In [3]:
temps = [23, 25, 19, 30, 21, 22]
print(temps[0], temps[-1], temps[-2])

23 22 21

**Q2:** Slice the list to get the middle four values

In [4]:
print(temps[1:5])

[25, 19, 30, 21]

**Q3:** Using negative indexing, get the item "21"

In [5]:
print(temps[-1])

22

-----

# Task 3: Nested Lists & Heterogeneous Data

**Q1:** Build a nested list for 3 students

In [6]:
students = [
    ["ABBAS", 101, [80, 90, 85]],
    ["FAHAD", 102, [78, 88, 92]],
    ["YASEEN", 103, [85, 87, 89]]
]
print(students)

[['ABBAS', 101, [80, 90, 85]], ['FAHAD', 102, [78, 88, 92]], ['YASEEN', 103, [85, 87, 89]]]

**Q2:** Change one student’s second grade

In [7]:
students[0][2][1] = 95
print(students[0])

['ABBAS', 101, [80, 95, 85]]

**Q3:** Add a fourth grade to one student’s grades_list

In [8]:
students[2][2].append(92)
print(students[2])

['YASEEN', 103, [85, 87, 89, 92]]

---------

# Task 4: List Mutator Methods

**Q1:** Use `.append()` to add "yellow"

In [9]:
colours = ["red", "green", "blue"]
colours.append("yellow")
print(colours)

['red', 'green', 'blue', 'yellow']

**Q2:** Use `.extend()` to add ["purple", "orange"]

In [10]:
colours.extend(["purple", "orange"])
print(colours)

['red', 'green', 'blue', 'yellow', 'purple', 'orange']

**Q3:** Use `.insert()` to insert "black" at index 1

In [11]:
colours.insert(1, "black")
print(colours)

['red', 'black', 'green', 'blue', 'yellow', 'purple', 'orange']

**Q4:** Use `.remove()` to remove "green"

In [12]:
colours.remove("green")
print(colours)

['red', 'black', 'blue', 'yellow', 'purple', 'orange']

**Q5:** Use `.pop()` to remove the last item and print it

In [13]:
print("Popped item:", colours.pop())

Popped item: orange

**Q6:** Print the final list

In [14]:
print("Final list:", colours)

Final list: ['red', 'black', 'blue', 'yellow', 'purple']

---------

# Task 5: Using Operators & Built-in Functions

**Q1:** Use `in` operator to check if 15 is in the list

In [15]:
numbers = [5, 10, 15, 20]
print(15 in numbers)

True

**Q2:** Concatenate `[25, 30]` to numbers

In [16]:
numbers2 = numbers + [25, 30]
print(numbers2)

[5, 10, 15, 20, 25, 30]

**Q3:** Multiply numbers list by 2

In [17]:
print(numbers * 2)

[5, 10, 15, 20, 5, 10, 15, 20]

**Q4:** Use `len()`, `min()`, `max()`, and `sum()`

In [18]:
print(len(numbers), min(numbers), max(numbers), sum(numbers))

4 5 20 50

---------

# Task 6: List Comprehensions & Conversion

**Q1:** Convert a tuple to a list

In [19]:
values = (2, 4, 6, 8, 10)
values_list = list(values)
print(values_list)

[2, 4, 6, 8, 10]

**Q2:** Use a list comprehension to square each value

In [20]:
squared = [x**2 for x in values_list]
print(squared)

[4, 16, 36, 64, 100]

**Q3:** Filter squared values > 30

In [21]:
filtered = [x for x in squared if x > 30]
print(filtered)

[36, 64, 100]

-------------
---------

# Tuple Tasks

## Task 1: Fixed Configuration

**Q1:** Access each element by index

In [22]:
device = ("device01", "192.168.1.10", 8080, True)
print(device[0], device[1], device[2], device[3])

device01 192.168.1.10 8080 True

**Q2:** Attempt to change port value and explain the error

In [23]:
# device[2] = 9090  # TypeError because tuples are immutable

**Q3:** Convert tuple to list, modify, then back to tuple

In [24]:
device_list = list(device)
device_list[2] = 9090
device = tuple(device_list)
print(device)

('device01', '192.168.1.10', 9090, True)

-------

## Task 2: Single Element Tuple

**Q1:** Create a single-element tuple

In [25]:
single = (5,)
print(single)

(5,)

**Q2:** Create a non-tuple variable and show its type

In [26]:
not_tuple = (5)
print(type(not_tuple))

<class 'int'>

**Q3:** Create a tuple from `range(5)`

In [27]:
t = tuple(range(5))
print(t)

(0, 1, 2, 3, 4)

------

## Task 3: Indexing, Slicing, Negative Indices

**Q1:** Access first and last day

In [28]:
weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
print(weekdays[0], weekdays[-1])

Mon Sun

**Q2:** Slice "Wed", "Thu", "Fri"

In [29]:
print(weekdays[2:5])

('Wed', 'Thu', 'Fri')

**Q3:** Negative indexing for "Sat"

In [30]:
print(weekdays[-2])

Sat

--------

## Task 4: Nested Tuples & Mutable Items

**Q1:** Access date tuple and print year, month, day

In [31]:
data = ("UserA", (2023, 9, 15), ["task1", "task2"])
year, month, day = data[1]
print(year, month, day)

2023 9 15

**Q2:** Access list of tasks and add a task

In [32]:
data[2].append("task3")
print(data)
# Explanation: List inside tuple is mutable, can be modified even if tuple is immutable

('UserA', (2023, 9, 15), ['task1', 'task2', 'task3'])

---------

## Task 5: Packing & Unpacking

**Q1:** Unpack `point = (10, 20, 30)` into x, y, z

In [33]:
point = (10, 20, 30)
x, y, z = point

**Q2:** Swap x and z

In [34]:
x, z = z, x

**Q3:** Pack into `point2` and print both

In [35]:
point2 = (x, y, z)
print(point, point2)

(10, 20, 30) (30, 20, 10)

--------

## Task 6: Choosing Tuple vs List

**Q1:** Store months of the year as a fixed sequence

In [36]:
months = ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec")

**Q2:** Explain why tuple is better

> Tuples are immutable and prevent accidental changes to fixed sequences.

**Q3:** Try to append a month

In [37]:
# months.append("NewMonth")  # AttributeError

**Q4:** Convert to list if needed

In [38]:
months_list = list(months)
months_list.append("NewMonth")
print(months_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'NewMonth']

----------

## Task 7: Tuple Operators & Built-in Functions

**Q1:** Test membership using `in` and `not in`

In [39]:
nums = (3, 6, 9, 12)
print(6 in nums, 5 not in nums)

True True

**Q2:** Concatenate tuples

In [40]:
print(nums + (15, 18))

(3, 6, 9, 12, 15, 18)

**Q3:** Multiply tuple

In [41]:
print(nums * 3)

(3, 6, 9, 12, 3, 6, 9, 12, 3, 6, 9, 12)

**Q4:** Use `len()`, `min()`, `max()`, `sum()`

In [42]:
print(len(nums), min(nums), max(nums), sum(nums))

4 3 12 30

# **CONCLUSION**

In this lab, we successfully practiced Python list and tuple operations. Lists were used for mutable sequences like student grades, inventory items, and colors, while tuples were used for immutable sequences such as roll numbers, device configurations, and months. We explored indexing, slicing, nested structures, list methods, operators, comprehensions, and tuple unpacking. We observed the differences between mutable and immutable types, learned to handle mutable items in immutable tuples, and applied these concepts to real-world examples. This lab strengthened our understanding of Python data structures and their practical applications in AI programming and engineering.

---------
----------